body{
  max-width: 375px;
}

.concept h2{
  font-size: 20px;
  text-align: center;
}
.white {
  color: grey;
}
.concept p{
  font-size: 15px;
  text-align: center;
  margin-left: 35px;
}
.PantalonMain{

}
.newsletter h2{
  text-align: center;
}
.newsletter p{
  text-align: center;
}
.newsletter input{
}
